<section>
      <div class="row">
       


        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/bags.2.avif"  alt="#">
            <div class="card-body">
              <h5 class="card-title">RS 2500</h5>
              <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
            </div>
          </div>
        </div>




        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/bags.1.jpg"  alt="#">
            <div class="card-body">
              <h5 class="card-title">RS 3000</h5>
              <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
            </div>
          </div>
        </div>




        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/bags.6.avif"  alt="#">
            <div class="card-body">
              <h5 class="card-title">RS 2000</h5>
              <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
            </div>
          </div>
        </div>


        <!-- second row -->

        
      <div class="row">
       
       
        <div class="col-4 mt-30px">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/bags.5.avif"  alt="#">
            <div class="card-body">
              <h5 class="card-title">RS 1500</h5>
              <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
            </div>
          </div>
        </div> 

        


        <div class="col-4 align-item-center">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/bags.4.avif"  alt="#">
            <div class="card-body">
              <h5 class="card-title">RS 2000</h5>
              <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
            </div>
          </div>
        </div>




        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/bags.3.avif"  alt="#">
            <div class="card-body">
              <h5 class="card-title">RS 1800</h5>
              <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
            </div>
          </div>
        </div>  


            <!-- third row -->


            <div class="row">
       
       
              <div class="col-4 mt-30px">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/images/bags.8.avif"  alt="#">
                  <div class="card-body">
                    <h5 class="card-title">RS 2500</h5>
                    <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                  </div>
                </div>
              </div> 
      
              
      
      
              <div class="col-4 align-item-center">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/images/bags.7.avif"  alt="#">
                  <div class="card-body">
                    <h5 class="card-title">RS 1800</h5>
                    <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                  </div>
                </div>
              </div>
      
      
      
      
              <div class="col-4">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/images/bags.9.avif"  alt="#">
                  <div class="card-body">
                    <h5 class="card-title">RS 1500</h5>
                    <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                  </div>
                </div>
              </div>  
      



      </div>

