<section>
        <div class="row">
       


            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sunglasses.2.avif"  alt="#">
                <div class="card-body">
                  <h5 class="card-title">RS 1500</h5>
                  <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                </div>
              </div>
            </div>
    
    
    
    
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sunglasses.3.avif"  alt="#">
                <div class="card-body">
                  <h5 class="card-title">RS 2000</h5>
                  <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                </div>
              </div>
            </div>
    
    
    
    
            
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sunglasses.5.avif"  alt="#">
                <div class="card-body">
                  <h5 class="card-title">RS 1800</h5>
                  <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                </div>
              </div>
            </div>
    
    
            <!-- second row -->
    
            
          <div class="row">
           
           
            <div class="col-4 mt-30px">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sunglasses.6.avif"  alt="#">
                <div class="card-body">
                  <h5 class="card-title">RS 1800</h5>
                  <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                </div>
              </div>
            </div> 
    
            
    
    
            <div class="col-4 align-item-center">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sunglasses.7.avif"  alt="#">
                <div class="card-body">
                  <h5 class="card-title">RS 1500</h5>
                  <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                </div>
              </div>
            </div>
    
    
    
    
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="../../assets/images/sunglasses.8.avif"  alt="#">
                <div class="card-body">
                  <h5 class="card-title">RS 2000</h5>
                  <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                </div>
              </div>
            </div>  
    
    
                <!-- third row -->
    
    
                <div class="row">
           
           
                  <div class="col-4 mt-30px">
                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/images/sunglasses.9.avif"  alt="#">
                      <div class="card-body">
                        <h5 class="card-title">RS 1800</h5>
                        <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                      </div>
                    </div>
                  </div> 
          
                  
          
          
                  <div class="col-4 align-item-center">
                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/images/sunglasses.10.avif"  alt="#">
                      <div class="card-body">
                        <h5 class="card-title">RS 1200</h5>
                        <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                      </div>
                    </div>
                  </div>
          
          
          
          
                  <div class="col-4">
                    <div class="card" style="width: 18rem;">
                      <img src="../../assets/images/sungalasses.4.avif"  alt="#">
                      <div class="card-body">
                        <h5 class="card-title">RS 1500</h5>
                        <button class="btn btn-outline-info" onclick="window.open('bags.html')">add to cart</button>
                      </div>
                    </div>
                  </div>  
          
    
    
    
          </div>