
 <section class="hero-section">     
    
        <div class="hero-text">
            <h1>FASHION AROUND THE WORLD</h1>
            <a href="#">WELCOME</a>
        </div>
    
        <div class="row">
    
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/bags.1.jpg" class="card-img-top" alt="#">
                <div class="card-body">
                  <h5 class="card-title">BAGS</h5>
                  <button class="btn btn-outline-info" routerLink="/bags">view more products</button>
                </div>
              </div>
            </div>
    
    
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/perfume.logo.avif" class="card-img-top" alt="#">
                <div class="card-body">
                  <h5 class="card-title">PERFUMES</h5>
                  <button class="btn btn-outline-info"  routerLink="/perfumes">view more products</button>
                </div>
              </div>
            </div>
    
    
              <div class="col">
            <div class="card" style="width: 18rem;">
        <img src="../../assets/images/glasses.1.jpg" class="card-img-top" alt="#">
        <div class="card-body">
          <h5 class="card-title">SUN GLASSES</h5>
          <button class="btn btn-outline-info"  routerLink="/sunglasses">view more products</button>
        </div>
      </div>
    </div>
    </div>
    
   


    
   